<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Framtid_hbg.Website</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Framtid_hbg.Website.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="image-brand" src="img/Logo.webp" alt="Framtid"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Vår Verksamhet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Service">Bohagsservice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Location">Hitta hit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Kontakta Oss</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="color-background">
    
</div>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col-6" style="text-align: left">
                <h4 style="margin-bottom: 2px">Kontakt</h4>
                <b>Email:</b> <a href="mailto:info@framtid-hbg.se">info@framtid-hbg.se</a><br/>
                <b>Tel:</b> 042-250 180<br/>
                <b>Adress:</b> Landskronavägen 14, Helsingborg<br/>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-sm-8 col-md-6 col-lg-5 offset-md-3 offset-lg-4" style="display:grid; place-items: center; text-align: right"><b>Hitta oss även på:</b></div>
                    <div class="col-sm-2 col-md-1 col-lg-1"><a href="https://www.instagram.com/loppisframtid/"><img class="social-images" src="img/Instagram_Glyph_Gradient.webp" alt="Instagram"/></a></div>
                    <div class="col-sm-2 col-md-2 col-lg-2"><a href="https://www.facebook.com/KooperativFramtid"><img class="social-images" src="img/Facebook_Logo_Primary.webp" alt="Instagram"/></a></div>
                </div>
                <div class="row">
                    <div class="col-12" style="text-align: right">
                        Copyright © @DateTime.Now.Year framtid-hbg.se<br/>
                        All rights reserved.<br/>
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Sekretesspolicy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>