<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 mb-3" style="text-align: center">
                <b>Email:</b> <a href="mailto:info@framtid-hbg.se">info@framtid-hbg.se</a><br/>
                <b>Tel:</b> 042-250 180<br/>
                <b>Adress:</b> Landskronavägen 14, Helsingborg<br/>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="col-12" style="display:grid; place-items: center; text-align: right">
                    <b>Hitta oss även på:</b>
                </div>
                <div class="row">
                    <div class="col-2 offset-4"><a href="https://www.instagram.com/loppisframtid/"><img class="social-images" src="img/Instagram_Glyph_Gradient.webp" alt="Instagram"/></a></div>
                    <div class="col-2"><a href="https://www.facebook.com/KooperativFramtid"><img class="social-images" src="img/Facebook_Logo_Primary.webp" alt="Instagram"/></a></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="col-12" style="text-align: center">
                    Copyright © @DateTime.Now.Year framtid-hbg.se<br/>
                    All rights reserved.<br/>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Sekretesspolicy</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="font-style: italic">
                    Designat och utvecklat av <a href="http://www.ryden.dev">Rydén Development ™</a>
                </div>
            </div>
        </div>
    </div>
</footer>