@{
    ViewData["Title"] = "Kontakta oss";
    var isSuccess = TempData["result"] as string;
    var message = TempData["message"] as string;
}

<div class="row">
    <div class="col-12 mt-5">
        <div class="info-card" style="text-align: left;">
            <h1>Kontakta oss</h1>
            @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
            {
                <div class="row" style="margin: 0">
                    <div class="col-lg-3 col-md-4 col-sm-12 form-check">
                        <input class="form-check-input" type="radio" name="ContactType" id="other-radio" value="Övrigt" checked>
                        <label class="form-check-label" for="other-radio">
                            Jag har en fråga
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 form-check">
                        <input class="form-check-input" type="radio" name="ContactType" id="booking-radio" value="Upphämtning">
                        <label class="form-check-label" for="booking-radio">
                            Boka hämtning
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 form-check">
                        <input class="form-check-input" type="radio" name="ContactType" id="cleaning-radio" value="Dödsbo">
                        <label class="form-check-label" for="cleaning-radio">
                            Dödsboshantering
                        </label>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <label for="Name">Namn:</label>
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Ange ditt namn">
                </div>
                <br/>
                <div class="form-group">
                    <label for="PhoneNumber">Email:</label>
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="Ange din email">
                </div>
                <br/>
                <div id="PhoneGroup" class="form-group">
                    <label for="Email">Telefonnummer:</label>
                    <input type="number" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Ange ditt telefonnummer">
                    <br/>
                </div>
                <div id="AdressGroup" class="form-group">
                    <label for="Adress">Adress:</label>
                    <textarea class="form-control" id="Adress" name="Adress" rows="4" placeholder="Ange din adress"></textarea>
                    <br/>
                </div>
                <div class="form-group">
                    <label for="Message">Meddelande:</label>
                    <textarea class="form-control" id="Message" name="Message" rows="6" placeholder="Skriv ditt meddelande här"></textarea>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12" style="margin-top: 20px">
                        @if (!string.IsNullOrEmpty(isSuccess) && !string.IsNullOrEmpty(message))
                        {
                            <div class="alert @(isSuccess == "true" ? "alert-success" : "alert-danger") fade show" role="alert">
                                <strong>@message</strong>
                            </div>
                        }
                    </div>
                </div>
               
            }
        </div>
    </div>
</div>