@{
    ViewData["Title"] = "Vår Verksamhet";
}

@await Html.PartialAsync("PageBanner")
<div class="row mb-5">
    <div class="col-lg-7 col-md-6 col-sm-12 mb-5">
        <h2>Vår verksamhet</h2>
        Sedan vår start 1994 och etableringen av Kooperativ Framtid år 2000, har vi engagerat oss i att ge individer de verktyg de behöver för att själva navigera vägen till arbetslivet.<br/>
        <br/>
        Vårt engagemang ligger i att erbjuda arbetspraktik genom vår second hand-butik, där deltagare får chansen att utveckla sina färdigheter och bygga självkänsla i en verklig miljö.<br/>
        <br/>
        Vårt mål är att stärka varje deltagares förmåga att självständigt finna sin plats i arbetslivet, med en tro på att framgång bäst uppnås genom gemenskap och samarbete.<br/>
        <br/>
        Kooperativ Framtid är mer än en arbetsplats - det är en plats för utveckling och självförverkligande.<br/>
    </div>
    <div class="col-lg-4 offset-lg-1 col-md-6 col-sm-12">
        <img class="content-images" src="img/interior-antique.webp" alt="Image of the interior"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card">
            <h3>Dödsbohantering</h3>
            <p>
                Med över 30 års erfarenhet erbjuder vi noggrann tömning och städning av dödsbon. Vi hanterar allt med stor respekt för att tillmötesgå de anhörigas önskemål och behov.
            </p>
            <button class="btn">Läs mer</button>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card">
            <h3>Arbetsträning och Sysselsättning</h3>
            <p>
                Genom vår arbetsträning och sysselsättning skapar vi anpassade vägar till arbetslivet. Vi stärker deltagarnas färdigheter för att förbättra deras möjligheter till anställning.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card">
            <h3>Secondhand och Loppis</h3>
            <p>
                Vår secondhandbutik bjuder in till hållbar shopping med sitt sortiment av unika och omsorgsfullt utvalda artiklar. Varje inköp bidrar till vårt sociala uppdrag.
            </p>
            <button class="btn">Hitta hit</button>
        </div>
    </div>
</div>