@{
    ViewData["Title"] = "Vår Verksamhet";
}

@await Html.PartialAsync("PageBanner")
<div class="row mb-5">
    <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Vår verksamhet</h2>
        <p>Välkommen till Kooperativ Framtid i Helsingborg – en plats där både prylar och människor får en ny chans. Vi tror på återbrukets kraft och skapar meningsfull sysselsättning för individer som behöver stöd för att komma ut i arbetslivet. Varje köp du gör hos oss stödjer därmed inte bara en hållbar livsstil, utan även vårt sociala engagemang för ett mer inkluderande lokalsamhälle.</p><br/>
        <p>Vår butik är en levande loppis och en skattkista för dig som söker unika fynd. Utforska allt från möbler med karaktär till prylar som väntar på ett nytt hem. Med stor respekt erbjuder vi även en helhetslösning för att hämta och städa ut dödsbon. Vi ser till att ägodelarna antingen får nytt liv hos oss eller hanteras ansvarsfullt, vilket skapar en trygg och smidig process för dig som anhörig.</p><br/>
        <p>Att handla hos oss är ett aktivt val för en hållbar framtid. Genom att återanvända minskar vi tillsammans vår klimatpåverkan och motverkar slit-och-släng-kulturen. Tillsammans skapar vi ett kretslopp av omtanke – för människor, prylar och vår planet.</p><br/>
    </div>
    <div class="col-lg-4 offset-lg-1 col-md-6 col-sm-12">
        <img class="content-images" src="img/interior-antique.webp" alt="Image of the interior"/>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card">
            <h3>Dödsbohantering</h3>
            <p>
                Med över 30 års erfarenhet erbjuder vi noggrann tömning och städning av dödsbon. Vi hanterar allt med stor respekt för att tillmötesgå de anhörigas önskemål och behov.
            </p>
            <a href="/Service"><button class="btn">Läs mer</button></a>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card">
            <h3>Arbetsträning och Sysselsättning</h3>
            <p>
                Genom vår arbetsträning och sysselsättning skapar vi anpassade vägar till arbetslivet. Vi stärker deltagarnas färdigheter för att förbättra deras möjligheter till anställning.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card">
            <h3>Secondhand och Loppis</h3>
            <p>
                Vår secondhandbutik bjuder in till hållbar shopping med sitt sortiment av unika och omsorgsfullt utvalda artiklar. Varje inköp bidrar till vårt sociala uppdrag.
            </p>
            <a href="/Contact"><button class="btn">Hitta hit</button></a>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <img class="content-images" src="img/interior-antique.webp" alt="Image of the interior"/>
    </div>
    <div class="col-lg-7 offset-lg-1 col-md-6 col-sm-12">
        <h2>Vårt engagemang</h2>
        <p>Hos oss får inte bara prylar en andra chans, utan framför allt människor. Vi engagerar oss i att ge individer de verktyg de behöver för att själva navigera vägen till arbetslivet. Vår second hand-butik är hjärtat i denna process – en trygg och inspirerande plattform där varje persons unika resa mot en anställning kan påbörjas och få stöd.</p><br/>
        <p>Genom meningsfull arbetspraktik erbjuder vi en chans att växa i en verklig och stöttande miljö. Här får deltagare utveckla sina praktiska färdigheter och bygga upp sin självkänsla, från kundbemötande till varuhantering. Målet är att stärka varje individs förmåga att självständigt finna sin plats och känna sig trygg på arbetsmarknaden.</p><br/>
        <p>Vi är mer än bara en arbetsplats – vi är en gemenskap för utveckling och självförverkligande. Vi tror att framgång bäst uppnås genom samarbete och känslan av att vara behövd. Här jobbar vi tillsammans för att skapa en ljusare och mer hållbar framtid, både för de människor som kommer till oss och för samhället i stort.</p><br/>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 mb-5">
        <h2>Café Framtid</h2>
        <p>I hjärtat av butiken finns ett litet café som känns som en gömd skatt. Caféet är inrett med loppisfynd, vilket ger en avslappnad och ombonad atmosfär.</p>
        <p>Menyn är liten men noga utvald, med bakverk, enkla mackor och ett urval av olika drycker och glass, perfekt för den som vill ta en paus från shoppingen </p>
        <div class="info-card">
            <h2>Meny</h2>
            <table>
                <tr>
                    <th class="left-column">Mat</th>
                    <th class="right-column"></th>
                </tr>
                <tr>
                    <td class="left-column">Ost- & Skinkmacka</td>
                    <td class="right-column">15kr</td>
                </tr>
                <tr>
                    <td class="left-column">Köttbullemacka</td>
                    <td class="right-column">15kr</td>
                </tr>
                <tr>
                    <td class="left-column">Korv med bröd</td>
                    <td class="right-column">20kr</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th class="left-column">Fika</th>
                    <th class="right-column"></th>
                </tr>
                <tr>
                    <td class="left-column">Mockarutor</td>
                    <td class="right-column">35kr</td>
                </tr>
                <tr>
                    <td class="left-column">Mazzarinkaka</td>
                    <td class="right-column">30kr</td>
                </tr>
                <tr>
                    <td class="left-column">Sockerkaka</td>
                    <td class="right-column">20kr</td>
                </tr>
                <tr>
                    <td class="left-column">kakor</td>
                    <td class="right-column">10kr</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th class="left-column">Dryck</th>
                    <th class="right-column"></th>
                </tr>
                <tr>
                    <td class="left-column">Kaffe</td>
                    <td class="right-column">10Kr</td>
                </tr>
                <tr>
                    <td class="left-column">Läsk</td>
                    <td class="right-column">20kr</td>
                </tr>
                <tr>
                    <td class="left-column">juice</td>
                    <td class="right-column">25kr</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 mb-5">
        <img class="content-images" src="img/20250818_133221.JPG" alt="A picture of a small café in the middle of the store"/>
    </div>
</div>