<div class="image-banner">
    <img class="image-focus-top" src="img/frontpage-banner.jpg" alt="Page Banner"/>
    <div class="shadow-text-box">
        <h2>Kooperativ Framtid i Helsingborg</h2>
    </div>
</div>