@{
    ViewData["Title"] = "Bohagsservice";
}

@await Html.PartialAsync("PageBanner")
<div class="row">
    <div class="col-10 offset-1" style="text-align: center">
        <h1>En Tömningstjänst För Varje Behov</h1><br/>
        <p>
            På Framtid Bohagsservice specialiserar vi oss på att hantera dödsbon, allt från mindre lägenheter till stora villor. Vi erbjuder också tömingar av kontor och andra företagslokaler. Vår erfarenhet säkerställer en respektfull hantering oavsett storlek och omfattning. Vi förstår vikten av detaljer i varje unikt uppdrag och anpassar våra tjänster för att möta just dina förväntningar och behov, oavsett omfattning.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card card-jumping">
            <img src="img/IMG_0465.webp" alt=""/><br/>
            <h3>Omsorgsfull Tömning</h3>
            <p>
                Vi hanterar tömning av dödsbon med varsamhet och respekt för det förflutna. Vår omsorg säkerställer en värdig hantering av varje föremål.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card card-jumping">
            <img src="img/IMG_0401.webp" alt=""/><br/>
            <h3>Köp av Dödsbo</h3>
            <p>
                Vi köper även hela eller delar av dödsbo, med 30 års erfarenhet garanterar vi en rättvis värdering och omsorgsfull hantering.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card card-jumping">
            <img src="img/IMG_2641.webp" alt=""/><br/>
            <h3>Hållbar Återförsäljning</h3>
            <p>
                I vår secondhandbutik ger vi gamla föremål nytt liv, vilket främjar principen om återbruk och bidrar aktivt till en mer hållbar framtid.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1" style="text-align: center">
        <h1>Vad innebär det att tömma dödsbo?</h1><br/>
        <p>
            Att tömma dödsbo är en del av processen att hantera en bortgången persons efterlämnade hem och tillhörigheter. Vi på Framtid Bohagsservice tar hand om allt från den första sorteringen till den slutgiltiga avvecklingen. Vi ser till att personliga effekter behandlas med värdighet och att föremålen får en andra chans hos nya ägare. Allt sker i nära dialog med er för att respektera familjens önskemål och minnen.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card card-jumping">
            <h3>Möte och Värdering</h3>
            <p>
                Vi inleder med ett personligt möte där vi går igenom dödsboet och värderar innehållet. Efter värdering undersöker vi möjligheten att köpa hela eller delar av boet.            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card card-jumping">
            <h3>Tömning</h3>
            <p>
            Efter mötet inleds tömingen snarast möjligt. Vi säkerställer att hemmet töms på ett ansvarsfullt och strukturerat sätt, redo för nästa steg.        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-5">
        <div class="info-card card-jumping">
            <h3>Städning</h3>
            <p>
                Efter tömningen utför vi en grundlig städning av fastigheten. Vi garanterar att lämna platsen i toppskick för framtida användning, oavsett om det är för en ny ägare eller försäljning.            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12 mb-5">
                <h2>Ny Framtid för Varje Föremål</h2>
                <p>Hos oss får varje sak en chans att återigen bli uppskattad och värderad. Upptäck hur vi ger nytt liv åt unika föremål i vår butik i Helsingborg, där tidigare ägodelar får en ny mening och fortsätter att berika våra liv.</p>
                <a href="/Contact"><button class="btn">Begär en offert</button></a>
            </div>
            <div class="col-lg-4 offset-lg-1 col-md-6 col-sm-12">
                <img class="content-images" src="img/frontpage-banner.webp" alt="Entrance"/>
            </div>
        </div>
    </div>
</div>